*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    background-image: url(/Form_password-recovery/images/fondo_password-recovery.png);
    background-repeat: no-repeat;
}
h1{
    color: gray;
}

.form-recovery{
    margin: auto;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background-color: white;
    border-block: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.form-recovery p{
    color: gray;
}