*{
    font-family: 'Lato', sans-serif;
}

.box{
 text-align: center;
}

.column{
    padding: 5%;
}

.container{
    position: relative;
    display: flex;
    font-size: 25px;
    color: black;
}

.title{
    font-size: 50px;
}
.caption-inner h1{
    color: black;

}
.caption-text{
    text-align: justify;
}

.footer a{
    text-decoration: none;
}
